html {
  font-family: 'Helvetica Neue', Roboto, Helvetica, sans-serif;
}

section.main.links-list {
  padding-top: 2%;
  padding-bottom: 2%;
}

.links-list .link-item {
  margin: 2% auto 0 auto;
  display: inline-block;
  width: 22%;
  min-width: 120px;
}

.links-list .link-item .link-avatar {
  border: none;
  position: relative;
  width: 110px;
  background-color: transparent;
  margin: 0 0 0 0;
}

.links-list .link-item .link-avatar:before,
.links-list .link-item .link-avatar:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 14.6447px;
}


.links-list .link-item .link-avatar:before {
  top: -35.3553px;
}

.links-list .link-item .link-avatar:after {
  bottom: -35.3553px;
}

/*cover up extra shadows*/
.links-list .link-item .link-avatar span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width:100px;
  height: 57.7350px;
  z-index: 2;
  background: inherit;
}

.main {
  max-width: 100rem;
}

article.post-content {
  max-width: 55rem;
}

.post-content pre code {
  font-size: 95%;
  line-height: 1.4em;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.highlight {
  margin: 0;
  display: block;
  overflow-x: auto;
  padding: 15px 20px;
  font-size: 14px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.highlight table {
  margin: 0;
  width: auto;
}
.highlight table td {
  border: none;
}
.highlight table td.code {
  padding-right: 20px;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight {
  margin: 1.6em 0;
}
.article-entry .highlight .line {
  height: 1.6em;
}
.highlight {
  color: #ddd;
  background: #272822;
}
.highlight .code .tag,
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .strong,
.highlight .code .name {
  color: #f92672;
}
.highlight .code .code {
  color: #66d9ef;
}
.highlight .code .class .title {
  color: #fff;
}
.highlight .code .attribute,
.highlight .code .symbol,
.highlight .code .regexp,
.highlight .code .link {
  color: #bf79db;
}
.highlight .code .string,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .title,
.highlight .code .section,
.highlight .code .emphasis,
.highlight .code .type,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .addition,
.highlight .code .variable,
.highlight .code .template-tag,
.highlight .code .template-variable {
  color: #a6e22e;
}
.highlight .code .comment,
.highlight .code .quote,
.highlight .code .deletion,
.highlight .code .meta {
  color: #75715e;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .title,
.highlight .code .section,
.highlight .code .type,
.highlight .code .selector-id {
  font-weight: 500;
}

.hexBadges {
 position:relative;
 width:500px;
 margin-top:-130px;
 height:600px
}
.hexBadges img {
 width:128px;
 height:148px;
 position:absolute;
 -webkit-transition-property:opacity;
 -moz-transition-property:opacity;
 -o-transition-property:opacity;
 transition-property:opacity;
 -webkit-transition-duration:.25s;
 -moz-transition-duration:.25s;
 -o-transition-duration:.25s;
 transition-duration:.25s
}
.hexBadges img.r0.c0,.hexBadges img.r2.c0,.hexBadges img.r4.c0 {
 left:0
}
.hexBadges img.r0.c00,.hexBadges img.r2.c00,.hexBadges img.r4.c00 {
 left:-125px
}
.hexBadges img.r0.c1,.hexBadges img.r2.c1,.hexBadges img.r4.c1 {
 left:125px
}
.hexBadges img.r0.c15,.hexBadges img.r2.c15,.hexBadges img.r4.c15 {
 left:125px
}
.hexBadges img.r0.c2,.hexBadges img.r2.c2,.hexBadges img.r4.c2 {
 left:250px
}
.hexBadges img.r0.c25,.hexBadges img.r2.c25,.hexBadges img.r4.c25 {
 left:250px
}
.hexBadges img.r0.c3,.hexBadges img.r2.c3,.hexBadges img.r4.c3 {
 left:375px
}
.hexBadges img.r0.c5,.hexBadges img.r2.c5,.hexBadges img.r4.c5 {
 left:500px
}
.hexBadges img.r0.c7,.hexBadges img.r2.c7,.hexBadges img.r4.c7 {
 left:625px
}
.hexBadges img.r1.c0,.hexBadges img.r3.c0,.hexBadges img.r5.c0 {
 left:62px
}
.hexBadges img.r1.c00,.hexBadges img.r3.c00,.hexBadges img.r5.c00 {
 left:-62px
}
.hexBadges img.r1.c1,.hexBadges img.r3.c1,.hexBadges img.r5.c1 {
 left:187px
}
.hexBadges img.r1.c2,.hexBadges img.r3.c2,.hexBadges img.r5.c2 {
 left:312px
}
.hexBadges img.r1.c3,.hexBadges img.r3.c3,.hexBadges img.r5.c3 {
 left:437px
}
.hexBadges img.r1.c5,.hexBadges img.r3.c5,.hexBadges img.r5.c5 {
 left:562px
}
.hexBadges img.r0 {
 top:0
}
.hexBadges img.r1 {
 top:107.5px
}
.hexBadges img.r2 {
 top:215px
}
.hexBadges img.r3 {
 top:322.5px
}
.hexBadges img.r4 {
 top:430px
}
.hexBadges img.r5 {
 top:537.5px
}

.hexBadges img:hover {
  transform:rotate(45deg)}.links-list .link-item .link-title{font-size:1rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;min-width:100px;
}

.hexBadges img {
    transition:transform ease-out .5s;
}


div.hexBadges {
  min-width: 100px !important;
  margin-top: auto;
  margin-bottom: auto;
}
