@charset "UTF-8";
@font-face{
  font-family: "Avenir-Next";
  src: url("../fonts/avenir-next/AvenirNextLTPro-Regular.otf");
  font-weight: 300;
}
@font-face{
  font-family: "Avenir-Next";
  src: url("../fonts/avenir-next/AvenirNextLTPro-It.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: "Avenir-Next";
  src: url("../fonts/avenir-next/AvenirNextLTPro-Bold.otf");
  font-weight: 600;
}
@font-face{
  font-family: "Avenir-Next";
  src: url("../fonts/avenir-next/AvenirNextLTPro-BoldIt.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face{
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/eot/FiraCode-Light.eot');
  src: url('../fonts/fira-code/eot/FiraCode-Light.eot') format('embedded-opentype'),
       url('../fonts/fira-code/woff2/FiraCode-Light.woff2') format('woff2'),
       url('../fonts/fira-code/woff/FiraCode-Light.woff') format('woff'),
       url('../fonts/fira-code/ttf/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Code';
  src: url('eot/FiraCode-Regular.eot');
  src: url('eot/FiraCode-Regular.eot') format('embedded-opentype'),
       url('woff2/FiraCode-Regular.woff2') format('woff2'),
       url('woff/FiraCode-Regular.woff') format('woff'),
       url('ttf/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/eot/FiraCode-Medium.eot');
  src: url('../fonts/fira-code/eot/FiraCode-Medium.eot') format('embedded-opentype'),
       url('../fonts/fira-code/woff2/FiraCode-Medium.woff2') format('woff2'),
       url('../fonts/fira-code/woff/FiraCode-Medium.woff') format('woff'),
       url('../fonts/fira-code/ttf/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/eot/FiraCode-Bold.eot');
  src: url('../fonts/fira-code/eot/FiraCode-Bold.eot') format('embedded-opentype'),
       url('../fonts/fira-code/woff2/FiraCode-Bold.woff2') format('woff2'),
       url('../fonts/fira-code/woff/FiraCode-Bold.woff') format('woff'),
       url('../fonts/fira-code/ttf/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
html, body {
  font-weight: 300;
  color: #333;
  font-size: 17px;
  font-family: 'Avenir-Next', 'Helvetica Neue', Helvetica, Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-weight: 600;
}
.main {
  border: none;
  /*position: fixed;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px 1px, rgba(0, 0, 0, 0.1) 0 2px 7px 1px, rgba(0, 0, 0, 0.3) 0 2px 2px -1px;
  margin: 0 0 0 20rem;
  /*height: 100vh;*/
  min-height: 100vh;
  width: calc(100% - 20rem);
  min-width: 800px;
  max-width: none;
}
article.post-content {
  width: calc(100vw - 24rem);
  max-width: 1000px;
}
.main.post-detail {
  max-width: calc(100vw - 20rem);
}
.post-content pre code {
  font-size: .9em;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Fira Code", Consolas, Monaco, Menlo, Inconsolata, monospace;
}
@media screen and (max-width: 800px){article.post-detail {width: 100%;}}
@media screen and (max-width: 800px){.main.post-detail {min-width: 100vw; width: 100vw;}}
@media screen and (max-width: 800px){article.post-content {min-width: 96%; margin: 2%;}}
@media screen and (max-width: 800px){.main {position: relative; margin: auto; min-height: 400px !important; width: 100vw; height: 80%; min-width: 383px; min-height: 110px; padding: 0 5px;}}
@media screen and (max-width: 800px){.hexwrap {margin: 3vh 0 0 calc((100% - 383px)/2);}}

.highlight {

/*
  margin: 0;
  display: block;
  overflow-x: auto;
  padding: 15px 20px;*/
  border-radius: .2em;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px 1px, rgba(0, 0, 0, 0.1) 0 1px 3px 1px, rgba(0, 0, 0, 0.2) 0 1px 1px -1px;
  font-size: .7em;
  line-height: 1.5em;
  font-family: "Fira Code", Consolas, Monaco, Menlo, Inconsolata, monospace;
}
/*
.highlight table {
  margin: 0 auto;
  width: auto;
}
.highlight table td {
  border: none;
}

.highlight table td.code {
  padding-right: 20px;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
}

.article-entry .highlight {
  margin: 1.6em 0;
}
.article-entry .highlight .line {
  height: 1.6em;
}


.highlight {
  color: #ddd;
  background: #272822;
}
.highlight .code .tag,
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .strong,
.highlight .code .name {
  color: #f92672;
}
.highlight .code .code {
  color: #66d9ef;
}
.highlight .code .class .title {
  color: #fff;
}
.highlight .code .attribute,
.highlight .code .symbol,
.highlight .code .regexp,
.highlight .code .link {
  color: #bf79db;
}
.highlight .code .string,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .title,
.highlight .code .section,
.highlight .code .emphasis,
.highlight .code .type,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .addition,
.highlight .code .variable,
.highlight .code .template-tag,
.highlight .code .template-variable {
  color: #a6e22e;
}
.highlight .code .comment,
.highlight .code .quote,
.highlight .code .deletion,
.highlight .code .meta {
  color: #75715e;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .title,
.highlight .code .section,
.highlight .code .type,
.highlight .code .selector-id {
  font-weight: bold;
}
.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number {
  color: #d78d3b;
}
*/
.hexBadges {
  margin: auto;
}
.hexBadges img {
  width:128px;
  height:148px;
  position:absolute;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -o-transition-property:opacity;
  transition-property:opacity;
  -webkit-transition-duration:.25s;
  -moz-transition-duration:.25s;
  -o-transition-duration:.25s;
  transition-duration:.25s
}
@media screen and (max-width: 800px){.hexBadges img{width:60px; height:70px;}}
@media screen and (max-width: 800px){.hexBadges{margin: auto; position: relative;}}
.hexBadges img.r0.c0,.hexBadges img.r2.c0,.hexBadges img.r4.c0,.hexBadges img.r6.c0 {left:0}
@media screen and (max-width: 800px){.hexBadges img.r0.c1,.hexBadges img.r2.c1,.hexBadges img.r4.c1,.hexBadges img.r6.c1 {left:0px;}}
.hexBadges img.r0.c1,.hexBadges img.r2.c1,.hexBadges img.r4.c1,.hexBadges img.r6.c1 {left:125px}
@media screen and (max-width: 800px){.hexBadges img.r0.c1,.hexBadges img.r2.c1,.hexBadges img.r4.c1,.hexBadges img.r6.c1 {left:60px;}}
.hexBadges img.r0.c2,.hexBadges img.r2.c2,.hexBadges img.r4.c2,.hexBadges img.r6.c2 {left:250px}
@media screen and (max-width: 800px){.hexBadges img.r0.c2,.hexBadges img.r2.c2,.hexBadges img.r4.c2,.hexBadges img.r6.c2 {left:120px}}
.hexBadges img.r0.c3,.hexBadges img.r2.c3,.hexBadges img.r4.c3,.hexBadges img.r6.c3 {left:375px}
@media screen and (max-width: 800px){.hexBadges img.r0.c3,.hexBadges img.r2.c3,.hexBadges img.r4.c3,.hexBadges img.r6.c3 {left:180px}}
.hexBadges img.r0.c5,.hexBadges img.r2.c5,.hexBadges img.r4.c5,.hexBadges img.r6.c5 {left:500px}
@media screen and (max-width: 800px){.hexBadges img.r0.c5,.hexBadges img.r2.c5,.hexBadges img.r4.c5,.hexBadges img.r6.c5 {left:240px}}
.hexBadges img.r0.c7,.hexBadges img.r2.c7,.hexBadges img.r4.c7,.hexBadges img.r6.c7 {left:625px}
@media screen and (max-width: 800px){.hexBadges img.r0.c7,.hexBadges img.r2.c7,.hexBadges img.r4.c7,.hexBadges img.r6.c7 {left:300px}}
.hexBadges img.r1.c0,.hexBadges img.r3.c0,.hexBadges img.r5.c0 {left:62px}
@media screen and (max-width: 800px){.hexBadges img.r1.c0,.hexBadges img.r3.c0,.hexBadges img.r5.c0 {left:30px}}
.hexBadges img.r1.c1,.hexBadges img.r3.c1,.hexBadges img.r5.c1 {left:187px}
@media screen and (max-width: 800px){.hexBadges img.r1.c1,.hexBadges img.r3.c1,.hexBadges img.r5.c1 {left:90px}}
.hexBadges img.r1.c2,.hexBadges img.r3.c2,.hexBadges img.r5.c2 {left:312px}
@media screen and (max-width: 800px){.hexBadges img.r1.c2,.hexBadges img.r3.c2,.hexBadges img.r5.c2 {left:150px}}
.hexBadges img.r1.c3,.hexBadges img.r3.c3,.hexBadges img.r5.c3 {left:437px}
@media screen and (max-width: 800px){.hexBadges img.r1.c3,.hexBadges img.r3.c3,.hexBadges img.r5.c3 {left:210px}}
.hexBadges img.r1.c5,.hexBadges img.r3.c5,.hexBadges img.r5.c5 {left:562px}
@media screen and (max-width: 800px){.hexBadges img.r1.c5,.hexBadges img.r3.c5,.hexBadges img.r5.c5 {left:270px}}
.hexBadges img.r1 {top:77.5px}
@media screen and (max-width: 800px){.hexBadges img.r1 {top:10px}}
.hexBadges img.r2 {top:185px}
@media screen and (max-width: 800px){.hexBadges img.r2 {top:65px}}
.hexBadges img.r3 {top:292.5px}
@media screen and (max-width: 800px){.hexBadges img.r3 {top:120px}}
.hexBadges img.r4 {top:400px}
@media screen and (max-width: 800px){.hexBadges img.r4 {top:175px}}
.hexBadges img.r5 {top:507.5px}
@media screen and (max-width: 800px){.hexBadges img.r5 {top:230px}}
.hexBadges img.r6 {top:615px}
@media screen and (max-width: 800px){.hexBadges img.r6 {top:285px}}
.hexBadges img.c0:hover, .hexBadges img.c2:hover, .hexBadges img.c5:hover, .hexBadges img.c7:hover,
.hexBadges img.c0:focus, .hexBadges img.c2:focus, .hexBadges img.c5:focus, .hexBadges img.c7:focus {
  transform:rotate(58.5deg)
}
.hexBadges img.c1:hover, .hexBadges img.c3:hover, .hexBadges img.c6:hover,
.hexBadges img.c1:focus, .hexBadges img.c3:focus, .hexBadges img.c6:focus{
  transform:rotate(-58.5deg)
}
.hexBadges img.c0, .hexBadges img.c2, .hexBadges img.c5, .hexBadges img.c7 {
  transition:transform ease-out .3s .3s;
}
.hexBadges img.c1, .hexBadges img.c3, .hexBadges img.c6 {
  transition:transform ease-out .3s;
}
@media screen and (max-width: 800px){.subtitle {line-height: 1.1; margin: 0; position:relative;}}




.post-content h1{margin-top:2rem;margin-bottom:1rem;font-size:2.25rem}.post-content h2{margin-top:1.75rem;margin-bottom:0.75rem;font-size:1.5rem}.post-content h3{margin-top:1.5rem;margin-bottom:0.5rem;font-size:1.3rem}.post-content h4{margin-top:1.25rem;margin-bottom:0.25rem;font-size:1.1rem}.post-content h5{margin-top:1rem;margin-bottom:0;font-size:1rem}.post-content h6{margin-top:1rem;margin-bottom:0;font-size:.8rem}.post-content p{margin-top:1.25rem;margin-bottom:1.25rem;text-align:left}

.post-content{line-height:1.7;}
.post-content img {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px 1px, rgba(0, 0, 0, 0.1) 0 1px 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 1px -1px;
  background-color: #f6f8fa;
  border: none !important;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  width: 88%;
  height: auto;
  min-width: 200px;
}
.highlight {
    margin: .5rem auto .5rem auto;
    width: 88%;
    min-width: 200px;
}
.post-content pre {
  margin: .5rem auto;
  padding: .5rem 1rem;
}
a.avatar_link {
  opacity: unset;
}
