
@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/brandontext-bold.woff2') format('woff2'), url('/fonts/brandontext-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('/fonts/brandontext-regular.woff2') format('woff2'), url('/fonts/brandontext-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Brandon Text', 'Helvetica Neue', Roboto, Helvetica, sans-serif;
}

section.main.links-list {
  padding-top: 3%;
}

.links-list .link-item {
  margin: 4% auto;
  display: inline-block;
  width: 33%;
  min-width: 150px;
}


.main {
  max-width: 100rem;
}

article.post-content {
  max-width: 55rem;
}

.post-content pre code {
  font-size: 95%;
  line-height: 1.4em;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.highlight {
  margin: 0px;
  display: block;
  overflow-x: auto;
  padding: 15px 20px;
  font-size: 14px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.highlight table {
  margin: 0;
  width: auto;
}
.highlight table td {
  border: none;
}
.highlight table td.code {
  padding-right: 20px;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight {
  margin: 1.6em 0;
}
.article-entry .highlight .line {
  height: 1.6em;
}
.highlight {
  color: #ddd;
  background: #272822;
}
.highlight .code .tag,
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .strong,
.highlight .code .name {
  color: #f92672;
}
.highlight .code .code {
  color: #66d9ef;
}
.highlight .code .class .title {
  color: #fff;
}
.highlight .code .attribute,
.highlight .code .symbol,
.highlight .code .regexp,
.highlight .code .link {
  color: #bf79db;
}
.highlight .code .string,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .title,
.highlight .code .section,
.highlight .code .emphasis,
.highlight .code .type,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .addition,
.highlight .code .variable,
.highlight .code .template-tag,
.highlight .code .template-variable {
  color: #a6e22e;
}
.highlight .code .comment,
.highlight .code .quote,
.highlight .code .deletion,
.highlight .code .meta {
  color: #75715e;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .title,
.highlight .code .section,
.highlight .code .type,
.highlight .code .selector-id {
  font-weight: 500;
}
