{{ define "title" }} {{ .Title }} | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }} {{
end }} {{ define "main" }} {{ partial "header.html" . }} <section class="main post-detail">
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
    </header>
    <article class="post-content">
        <h3 id="appointment">Appointment</h3>
        <p>​​​Internationally recognized expert in Data Science, Natural Language, and Artificial Intelligence with over seven years of
            professional experience, strong theoretical and quantitative backgrounds, and a knack for finding and implementing innovative
            solutions to complex problems.</p>
        <p>Previously a Senior Data Scientist and Core Labs Member at <a href="https://www.awarehq.com/">Aware</a>. And before that, an
            assistant professor at the University of Missouri in Journalism<a href="https://journalism.missouri.edu/"> and <a
                    href="https://dsa.missouri.edu/">Data Science</a>.</p>
        <h3 id="links">Links</h3>
        <p>An updated resume/CV can be downloaded <a href="https://cv.mikewk.com/cv.pdf">here</a>. Also check out <a
                href="https://twitter.com/kearneymw">Twitter</a>, <a href="https://scholar.google.com/citations?user=j3EZl3MAAAAJ">Google
                Scholar</a>, and <a href="https://github.com/mkearney">Github</a>. </p>
    </article> {{ if ne .Params.comments false }} {{ if .Site.Params.changyan }} <div id="SOHUCS" sid="{{ .URL }}"></div>
    <script type="text/javascript">
        (function () {
            var appid = '{{ .Site.Params.changyanId }}';
            var conf = '{{ .Site.Params.changyanConf }}';
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 960) {
                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
            } else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("https://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
        })(); </script> {{ else if .Site.DisqusShortname }}{{ template "_internal/disqus.html" . }} {{ else }}{{ end }} {{ end }}
</section> {{ partial "footer.html" . }} {{ end }}