{{ define "title" }}
  {{ .Title }} | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-detail">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>
    <article class="post-content">

      <h3>2019</h3>
        <ul>
          <li>
            <a href="./1021105joss01829.pdf">rtweet: Collecting and analyzing Twitter data</a>,
            <i>Journal of Open Source Software</i>.
          </li>
          <li>
            <a href="./1461444818822813.pdf">Analyzing change in network polarization</a>,
            <i>New Media & Society</i>.
          </li>
        </ul>

      <h3>2018</h3>
        <ul>
          <li>
            <a href="./1461444818822813.pdf">Analyzing change in network polarization</a>,
            <i>New Media & Society</i>.
          </li>
          <li>
            <a href="./1369118X.2018.1430162.pdf">Two tests of social displacement through social media use</a>,
            <i>Information, Communication and Society</i>.
          </li>
           <li>
            <a href="./trusting-news-report.pdf">Trusting News Project Report 2018</a>,
            <i>Reynolds Journalism Institute</i>
          </li>
        </ul>

      <h3>2017</h3>
        <ul>
          <li>
            <a href="./interpersonal-goals-on-facebook.pdf">Interpersonal Goals and Political Uses of Facebook</a>,
            <i>Communication Research Reports</i>
          </li>
          <li>
            <a href="./clpm.pdf">Cross Lagged Panel Models</a>,
            <i>Sage Encyclopedia of Communication Research Methods</i>.
          </li>
          <li>
            <a href="./cramersv.pdf">Cramer's V</a>,
            <i>Sage Encyclopedia of Communication Research Methods</i>.
          </li>
          <li>
            <a href="./flr.pdf">Foundational Literature Reviews</a>,
            <i>Sage Encyclopedia of Communication Research Methods</i>.
          </li>
        </ul>


      <h3>2015</h3>
        <ul>
          <li>
            <a href="./political-liking-on-facebook.pdf">Liking Obama and Romney (on Facebook): An experimental evaluationof political engagement and efficacy during the 2012 general election</a>,
            <i>Computers in Human Behavior</i>.
          </li>
        </ul>


      <h3>2014</h3>
        <ul>
          <li>
            <a href="./durable-fiat.pdf">How Durable is it? A Contextualized Interpretation of Fiat in Policy Debate</a>,
            <i>National Journal of Speech and Debate</i>.
          </li>
        </ul>

    </article>
  </section>

  {{ partial "footer.html" . }}
{{ end }}
