  {{ define "title" }}
  {{ .Title }} | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}
<section class="main links-list">

<div class="hexwrap">
 <div class="hexBadges">
        <a href="https://github.com/mkearney/rtweet"><img src="/media/links/hex-rtweet.png" alt="purrr hex sticker" class="r4 c2" /></a>
        <a href="https://github.com/mkearney/"><img src="/media/links/hex-github.png" alt="ggplot2 hex sticker" class="r2 c0"></a>
        <a href="https://github.com/mkearney/tfse"><img src="/media/links/hex-tfse.png" alt="ggplot2 hex sticker" class="r2 c1"></a>
        <a href="https://github.com/mkearney/tidyversity"><img src="/media/links/hex-tidyversity.png" alt="dplyr hex sticker" class="r1 c2"></a>
        <a href="https://github.com/mkearney/tidyreg"><img src="/media/links/hex-tidyreg.png" alt="dplyr hex sticker" class="r1 c0"></a>
        <a href="https://github.com/mkearney/chr"><img src="/media/links/hex-chr.png" alt="dplyr hex sticker" class="r1 c1"></a>
        <a href="https://github.com/mkearney/tweetbotornot"><img src="/media/links/hex-tweetbotornot.png" alt="dplyr hex sticker" class="r1 c3"></a>
        <a href="https://github.com/mkearney/textfeatures"><img src="/media/links/hex-textfeatures.png" alt="tidyr hex sticker" class="r3 c2"></a>
        <a href="https://www.researchgate.net/profile/Michael_Kearney11/"><img src="/media/links/hex-research-gate.png" alt="readr hex sticker" class="r3 c0"></a>
        <a href="https://stat.mikewk.com"><img src="/media/links/hex-stat.png" alt="readr hex sticker" class="r3 c3"></a>
        <a href="https://twitter.com/kearneymw/"><img src="/media/links/hex-twitter.png" alt="tibble hex sticker" class="r2 c2"></a>
        <a href="https://github.com/mkearney/pkgverse"><img src="/media/links/hex-pkgverse.png" alt="tibble hex sticker" class="r2 c3"></a>
        <a href="https://github.com/mkearney/smartread"><img src="/media/links/hex-smartread.png" alt="tibble hex sticker" class="r2 c5"></a>
        <a href="https://mikewk.shinyapps.io/friendship/"><img src="/media/links/hex-friendship.png" alt="dplyr hex sticker" class="r4 c1"></a>
        <a href="https://github.com/mkearney/kaggler"><img src="/media/links/hex-kaggler.png" alt="dplyr hex sticker" class="r4 c0"></a>
        <a href="https://github.com/mkearney/nytimes"><img src="/media/links/hex-nytimes.png" alt="dplyr hex sticker" class="r4 c3"></a>
        <a href="https://github.com/mkearney/funique"><img src="/media/links/hex-funique.png" alt="tibble hex sticker" class="r3 c1"></a>
        <a href="https://github.com/mkearney/hexagon"><img src="/media/links/hex-hexagon.png" alt="dplyr hex sticker" class="r4 c5"></a>
        <a href="https://github.com/mkearney/ig"><img src="/media/links/hex-ig.png" alt="dplyr hex sticker" class="r5 c1"></a>
        <a href="https://github.com/mkearney/name2sex"><img src="/media/links/hex-name2sex.png" alt="dplyr hex sticker" class="r5 c3"></a>
        <a href="https://github.com/mkearney/wordword"><img src="/media/links/hex-wordword.png" alt="dplyr hex sticker" class="r5 c0"></a>
        <a href="https://github.com/mkearney/tidysem"><img src="/media/links/hex-tidysem.png" alt="dplyr hex sticker" class="r5 c2"></a>
        <a href="https://github.com/mkearney/tidymlm"><img src="/media/links/hex-tidymlm.png" alt="dplyr hex sticker" class="r5 c5"></a>
        <a href="https://github.com/mkearney/tidycat"><img src="/media/links/hex-tidycat.png" alt="dplyr hex sticker" class="r3 c5"></a>
        <a href="https://github.com/mkearney/newsAPI"><img src="/media/links/hex-newsAPI.png" alt="dplyr hex sticker" class="r1 c5"></a>
        <a href="https://mikewk.shinyapps.io/botornot/"><img src="/media/links/hex-tweetbotornot.png" alt="dplyr hex sticker" class="r2 c7"></a>
        <a href="https://mikewk.com/cv/cv.pdf"><img src="/media/links/hex-cv.png" alt="dplyr hex sticker" class="r4 c7"></a>
</div>
</div>
  </section>
  {{ partial "footer.html" . }}
{{ end }}
